.App{
background-image: url('../src/Component/Images/New-home-banner-1.jpg');
height: 600px;
    background-position: center 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 101;
    font-family: Rokkitt, serif;

}
p{
   
}
h1{
    font-family: Rokkitt, serif;
}
h2{
    font-family: Rokkitt, serif;
}
h5{
    font-family: Rokkitt, serif;   
}
h3{
    font-family: Rokkitt, serif;   
}