/* .why-choose-us {
    background-color: #f0f0f0;
  }
   */
   .why-choose-us{
height: 100vh;
   }
  .benefit-card {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .benefit-card:hover {
    transform: translateY(-10px);
  }
  
  .benefit-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10px;
    font-family: Rokkitt, serif;
  }
  .why-us{
    font-family: Rokkitt, serif;
    font-size: 36px;
    font-weight: bold;
  }
  .benefit-description {
    font-size: 1rem;
    font-family: Rokkitt, serif;
    color: #777;
    margin-top: 10px;
  }
  